*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
}


nav{
   
      display:flex;
      flex-direction: inherit;
      justify-content: space-around;
      align-items: center;
      background-color: darkslategray;
      min-height: 8vh;
}

.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size:14px;

}